In [64]:
# Importing required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,ElementClickInterceptedException
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.action_chains import ActionChains

In [65]:
# Creating a webdriver instance for firefox browser
driver=webdriver.Firefox(r'C:\Users\_Trojan_\Downloads\geckodriver-v0.29.1-win64')
action=ActionChains(driver)

# Q1

In [55]:
# Creating a URL variable to store website URL
url_wiki=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

# Establishing Connection with the website
driver.get(url_wiki)
time.sleep(2)

# Creating empty lists to store data

video_rank=[]
video_name=[]
video_uploader=[]
upload_date=[]
video_views=[]

# Finding and storing table rows which contains data in a variable
data1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr")

# Creating a For loop to iterate through the rows to find required data
for data in data1:
    # Finding Rank
    video_rank.append(data.find_element_by_xpath("td[1]").text.replace('.',''))
    
    # Finding Video Title
    video_name.append(data.find_element_by_xpath('td[2]').text.split('\"')[1])
    
    # Finding Uploader's name
    video_uploader.append(data.find_element_by_xpath("td[3]").text)
    
    # Finding Upload Date
    upload_date.append(data.find_element_by_xpath("td[5]").text)
    
    # Finding views on the video
    video_views.append(data.find_element_by_xpath("td[4]").text)

# Creating Dataframe

yt_views=pd.DataFrame(list(zip(video_rank,video_name,video_uploader,upload_date,video_views)),columns=['Rank','Video_Title','Video_Uploader','Upload_Date','Views (In Billions)'])
yt_views

,Rank,Video_Title,Video_Uploader,Upload_Date,Views (In Billions)
0,1,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.74
1,2,Despacito,Luis Fonsi,"January 12, 2017",7.39
2,3,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",5.43
3,4,Shape of You,Ed Sheeran,"January 30, 2017",5.34
4,5,See You Again,Wiz Khalifa,"April 6, 2015",5.13
5,6,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.44
6,7,Uptown Funk,Mark Ronson,"November 19, 2014",4.20
7,8,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.14
8,9,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.12
9,10,Gangnam Style,Psy,"July 15, 2012",4.08
10,11,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",3.91
11,12,Sugar,Maroon 5,"January 14, 2015",3.48
12,13,Sorry,Justin Bieber,"October 22, 2015",3.44
13,14,Dame Tu Cosita,El Chombo,"April 5, 2018",3.38
14,15,Roar,Katy Perry,"September 5, 2013",3.36
15,16,Counting Stars,OneRepublic,"May 31, 2013",3.31
16,17,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.27
17,18,Dark Horse,Katy Perry,"February 20, 2014",3.08
18,19,Faded,Alan Walker,"December 3, 2015",3.08
19,20,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.07
20,21,Shake It Off,Taylor Swift,"August 18, 2014",3.06
21,22,Lean On,Major Lazer,"March 22, 2015",3.05
22,23,Girls Like You,Maroon 5,"May 31, 2018",3.04
23,24,Bailando,Enrique Iglesias,"April 11, 2014",3.04
24,25,Let Her Go,Passenger,"July 25, 2012",3.00
25,26,Mi Gente,J Balvin,"June 29, 2017",2.93
26,27,Perfect,Ed Sheeran,"November 9, 2017",2.86
27,28,Hello,Adele,"October 22, 2015",2.84
28,29,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.84
29,30,Axel F,Crazy Frog,"June 16, 2009",2.83

In [56]:
# Exporting to a CSV file
yt_views.to_csv("yt_views.csv")

# Q2

In [68]:
# Creating a URL variable to store website URL
url_bcci=("https://www.bcci.tv/")

# Establishing Connection with the website
driver.get(url_bcci)
time.sleep(3)

# Creating empty lists to store data
match_title=[]
series=[]
match_type=[]
match_location=[]
match_date=[]
match_time=[]

# Finding the International dropdown and hover over it
drop_down=driver.find_element_by_xpath("//div[@class='navigation__link navigation__link--has-drop-down js-navigation-link']")
time.sleep(1)
action.move_to_element(drop_down).perform()
time.sleep(1)

# Clicking the fixtures options
driver.find_element_by_xpath("//div[@class='drop-down__options']/ul/li[1]").click()

# Extracting Match Title
for title in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
    match_title.append(title.text)

# Extracting Series Name
for ser in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]"):
    series.append(ser.text)

# Extracting Match Type 
for form in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[1]"):
    match_type.append(form.text)

# Extracting Match Location
for loc in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    match_location.append(loc.text)

#Extracting Match Date
for dt in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
    match_date.append(dt.text.rsplit(maxsplit=2)[0].replace('\n',' '))

# Extracting Match Time
for time1 in driver.find_elements_by_xpath("//span[@class='fixture__time']"):
    match_time.append(time1.text)

# Creating Dataframe
bcci_fixtures=pd.DataFrame(list(zip(match_title,series,match_type,match_location,match_date,match_time)),columns=['Title','Series','Format','Location','Date','Time'])
bcci_fixtures

,Title,Series,Format,Location,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,TEST,"The Ageas Bowl, Southampton",Friday 18 JUNE,15:00 IST
1,1st ODI,SRI LANKA V INDIA 2021,ODI,"R Premadasa Stadium, Colombo",Tuesday 13 JULY,14:30 IST
2,2nd ODI,SRI LANKA V INDIA 2021,ODI,"R Premadasa Stadium, Colombo",Friday 16 JULY,14:30 IST
3,3rd ODI,SRI LANKA V INDIA 2021,ODI,"R Premadasa Stadium, Colombo",Sunday 18 JULY,14:30 IST
4,1st T20I,SRI LANKA V INDIA 2021,T20I,"R Premadasa Stadium, Colombo",Wednesday 21 JULY,19:00 IST
5,2nd T20I,SRI LANKA V INDIA 2021,T20I,"R Premadasa Stadium, Colombo",Friday 23 JULY,19:00 IST
6,3rd T20I,SRI LANKA V INDIA 2021,T20I,"R Premadasa Stadium, Colombo",Sunday 25 JULY,19:00 IST
7,1st Test,ENGLAND V INDIA 2021,TEST,"Trent Bridge, Nottingham",Wednesday 04 AUGUST,15:30 IST
8,2nd Test,ENGLAND V INDIA 2021,TEST,"Lord's, London",Thursday 12 AUGUST,15:30 IST
9,3rd Test,ENGLAND V INDIA 2021,TEST,"Headingley, Leeds",Wednesday 25 AUGUST,15:30 IST
10,4th Test,ENGLAND V INDIA 2021,TEST,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
11,5th Test,ENGLAND V INDIA 2021,TEST,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST

In [69]:
# Exporting to CSV file
bcci_fixtures.to_csv('bcci_fixtures.csv')

# Q3

In [13]:
# creating a URL variable to store website URL
url_guru99=('https://www.guru99.com/')

# Establishing Connection with the website
driver.get(url_guru99)
time.sleep(2)

# Creating empty lists to store data
exception_name=[]
exception_descr=[]

# Finding the Selenium option from the lists and clicking it
driver.find_element_by_xpath("//ul[@class='menu'][1]/li[3]/a").click()
time.sleep(2)

# Checking for a popup, if found closing it
try:
    driver.find_element_by_xpath("//div[@class='cb-close']").click()
except NoSuchElementException:
    pass

# Finding the selenium exception tutorial option and clicking it
driver.find_element_by_xpath("//table[@class='table'][5]/tbody/tr[34]/td[1]").click()

# Creating a For loop to iterate through the table and collect the data
for name in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr")[1:]:
    # Extracting Exception Name
    exception_name.append(name.find_element_by_xpath("td[1]").text)
    # Extracting Exception Description
    exception_descr.append(name.find_element_by_xpath("td[2]").text)

# Creating Dataframe
guru99_exception=pd.DataFrame(list(zip(exception_name,exception_descr)),columns=['Exception_Name','Description'])
guru99_exception

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [ ]:
# Exporting to CSV
guru99_exception.to_csv('guru99_exception.csv')

# Q4

In [42]:
# Creating a URL variable to store website URL
url_stats=('http://statisticstimes.com/')

# Establishing Connection with the website
driver.get(url_stats)
time.sleep(5)

# Finding Economy dropdown and hover over it
action.move_to_element(driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")).perform()
time.sleep(1)

# After dropdown is opened, clicking 3rd option which is India
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").click()
time.sleep(3)

# Finding Option to go to GDP of Indian States and clicking it
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

# Creating empty lists to store data
state_rank=[]
state_name=[]
gsdp_1920=[]
gsdp_1819=[]
gsdp_share=[]
gdp=[]


# Finding the table which contains the data and iterating through the rows to fetch data
for data in driver.find_elements_by_xpath("//table[@class='display dataTable'][1]/tbody/tr"):
    # Fetching State Rank
    state_rank.append(data.find_element_by_xpath("td[1]").text)
    # Fetching state name
    state_name.append(data.find_element_by_xpath("td[2]").text)
    # Fetching GSDP 19-20
    gsdp_1920.append(data.find_element_by_xpath("td[3]").text)
    # Fetching GSDP 18-19
    gsdp_1819.append(data.find_element_by_xpath("td[4]").text)
    # Fetching GSDp Share
    gsdp_share.append(data.find_element_by_xpath("td[5]").text)
    # Fetching GDP
    gdp.append(data.find_element_by_xpath("td[6]").text)

# Creating Dataframe
gdp_stats=pd.DataFrame(list(zip(state_rank,state_name,gsdp_1920,gsdp_1819,gsdp_share,gdp)),columns=['Rank','State','GSDP(19-20)','GSDP(18-19)','GSDP_Share(18-19)','GDP($Billion)'])
gdp_stats

,Rank,State,GSDP(19-20),GSDP(18-19),GSDP_Share(18-19),GDP($Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [58]:
# Exporting to CSV file
gdp_stats.to_csv('gdp_stats.csv')

# Q5

In [100]:
driver=webdriver.Firefox(r'C:\Users\_Trojan_\Downloads\geckodriver-v0.29.1-win64')
action=ActionChains(driver)

# creating a URL variable to store website URL
url_github=('https://github.com/')
# Establishing Connection with the website
driver.get(url_github)
time.sleep(3)

# Finding Explore dropdown and hover over it
action.move_to_element(driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")).perform()
time.sleep(1)

# Finding and clicking Trending option
driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']/ul[2]/li[3]").click()
time.sleep(3)
# Creating empty lists to store data
repo_title=[]
repo_desc=[]
contri_count=[]
repo_lang=[]

# Creating a For loop to locate and iterate through tags which contains data
for data in driver.find_elements_by_xpath("//div[@class='Box']/div[2]/article"):
    # Extracting title
    repo_title.append(data.find_element_by_xpath("h1").text)
    
    # Extracting Repo Description
    try:
        repo_desc.append(data.find_element_by_xpath("p").text)
    except NoSuchElementException:
        repo_desc.append('-')
    # Extracting Contributors count
    try:
        if data.find_element_by_xpath("div[2]/span[2]").text=='Built by':
            contr=data.find_elements_by_xpath("div[2]/span[2]/a")
        else:
            raise NoSuchElementException
        contri_count.append(len(contr))
    except NoSuchElementException:
        contr=data.find_elements_by_xpath("div[2]/span[1]/a")
        contri_count.append(len(contr))
    
    # Extracting Repo Language
    try:
        repo_lang.append(data.find_element_by_xpath("div[2]/span[1]/span[2]").text)
    except NoSuchElementException:
        repo_lang.append('-')

# Creating Dataframe
github_repos=pd.DataFrame(list(zip(repo_title,repo_desc,contri_count,repo_lang)),columns=['Repo_Title','Repo_Desc','Contributors_Count','Language_Used'])
github_repos

,Repo_Title,Repo_Desc,Contributors_Count,Language_Used
0,google / fully-homomorphic-encryption,Libraries and tools to perform fully homomorph...,1,C++
1,star261 / jd,-,2,JavaScript
2,sqfmi / Watchy,Watchy - An Open Source E-Ink Smartwatch,5,C
3,jina-ai / jina,An easier way to build neural search on the cloud,5,Python
4,geohot / tinygrad,You like pytorch? You like micrograd? You love...,5,Python
5,hotwired / turbo-rails,Use Turbo in your Ruby on Rails app,5,JavaScript
6,siduck76 / NvChad,beautiful neovim setup configured in lua,5,Lua
7,jwasham / coding-interview-university,A complete computer science study plan to beco...,5,-
8,chriskiehl / Gooey,Turn (almost) any Python command line program ...,5,Python
9,monyhar / monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,1,C
10,chromium / chromium,The official GitHub mirror of the Chromium source,0,-
11,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",5,-
12,Asabeneh / 30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,5,JavaScript
13,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,5,-
14,neon-age / Smart-Inspector,Keeps your screen real-estate clean with refin...,1,C#
15,alibaba / formily,Alibaba Group Unified Form Solution -- Support...,5,TypeScript
16,JDHelloWorld / jd_scripts,-,1,JavaScript
17,yunjey / pytorch-tutorial,PyTorch Tutorial for Deep Learning Researchers,5,Python
18,vercel / next.js,The React Framework,5,JavaScript
19,programthink / books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,1,-
20,willmcgugan / rich,Rich is a Python library for rich text and bea...,5,Python
21,jdah / jdh-8,An 8-bit minicomputer with a fully custom arch...,1,C
22,ethersphere / bee,Bee is a Swarm client implemented in Go. It’s ...,5,Go
23,NVlabs / SegFormer,"Official implementation of ""SegFormer: Simple ...",3,Python
24,rustdesk / rustdesk,An open source remote desktop client software,5,Rust

In [101]:
# Exporting to a CSv file
github_repos.to_csv("github_repos.csv")

# Q6

In [40]:
# Creating a URL variable to store website URL
url_bill=('https://www.billboard.com/')

# Establishing Connection with the website
driver.get(url_bill)
time.sleep(5)

# Finding the Hot100 option in navigation bar and clicking it
driver.find_element_by_xpath("//ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']/li[3]/a").click()
time.sleep(3)

# Creating empty lists to store data
song_rank=[]
song_name=[]
song_artist=[]
last_rank=[]
peak_rank=[]
weeks_on_chart=[]

# Extracting Song Rank
for rank in driver.find_elements_by_xpath("//span[@class='chart-element__rank__number']"):
    song_rank.append(rank.text)

# Extracting Song Name
for name in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    song_name.append(name.text)

# Extracting Song Artist
for artist in driver.find_elements_by_xpath("//span[@class='chart-element__metas chart-element__metas--small display--flex']"):
    song_artist.append(artist.text)

# Extracting Last Week Rank
for lrank in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    last_rank.append(lrank.text)

# Extracting Peak Rank
for peak in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak_rank.append(peak.text)

# Extracting No. of weeks on chart
for woc in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeks_on_chart.append(woc.text)

# Creating Dataframe
songs_bb_100=pd.DataFrame(list(zip(song_rank,song_name,song_artist,last_rank,peak_rank,weeks_on_chart)),columns=['Song_Rank','Song_Name','Artist','Last_Week_Rank','Peak_Rank','Weeks_on_Chart'])
songs_bb_100

,Song_Rank,Song_Name,Artist,Last_Week_Rank,Peak_Rank,Weeks_on_Chart
0,1,Butter,,1,1,3
1,2,Good 4 U,,2,1,4
2,3,Levitating,,3,2,36
3,4,Peaches,,6,1,12
4,5,Leave The Door Open,,4,1,14
...,...,...,...,...,...,...
95,96,Things A Man Oughta Know,,93,93,4
96,97,Country Again,,89,73,6
97,98,Drunk (And I Don't Wanna Go Home),,92,79,7
98,99,If You Want To,,-,99,1
99,100,Seeing Green,,67,12,4

In [41]:
# Exporting to a CSV file
songs_bb_100.to_csv('songs_bb_100.csv')

# Q7

In [30]:
driver=webdriver.Firefox(r'C:\Users\_Trojan_\Downloads\geckodriver-v0.29.1-win64')

In [32]:
# Creating a URL variable to store website URL
url_naukri=('https://www.naukri.com/')

# Establishing Connection with the website
driver.get(url_naukri)
time.sleep(3)

# Finding and clicking recruiters option, if Popup for notification occurs closing it
try:
    driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").click()
    time.sleep(3)
except ElementClickInterceptedException:
    try:
        driver.find_element_by_id('block').click()
    except:
        pass
    driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").click()
time.sleep(3)

# Switching to child window
crnt_wind=driver.window_handles[4]
driver.switch_to.window(crnt_wind)

# Finding the search bar and creating a instance
search=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
# clearing the search bar if ther is any data in it
search.clear()
# Sending required keyword to seaarch for
search.send_keys('data science')
search.send_keys(Keys.ENTER)
time.sleep(3)

# Creating empty lists to store data
recruiter_name=[]
recruiter_desig=[]
recruiter_comp=[]
req_skills=[]
recruiter_loc=[]

# Checking total number of results and storing in a variable
total=int(driver.find_element_by_xpath("//div[@class='count']/h1/strong").text.split()[0])

# Creating a while loop to extract data till list lengths gets equal to total no of records
while len(recruiter_name)<=total:
    # Iterating through DIVs to extract required data
    for data in driver.find_elements_by_xpath("//div[@class='recInfo']"):
        
        # Extracting Recruiter's name
        recruiter_name.append(data.find_element_by_xpath("div[1]/p/a").text)
        
        # Extracting Recruiter's designation
        recruiter_desig.append(data.find_element_by_xpath("div[1]/p/span[1]").text)
        
        # Extracting Recruiter's Company
        recruiter_comp.append(data.find_element_by_xpath("div[1]/p/a[2]").text)
        
        # Extracting Recruiter's Location
        try:
            recruiter_loc.append(data.find_element_by_xpath("div[1]/p/span[2]").text)
        except NoSuchElementException:\
            recruiter_loc.append('-')
        
        # Extracting Skills required by the recruiter
        req_skills.append(data.find_element_by_xpath("div[2]").text)
        
    button=driver.find_elements_by_xpath("//div[@class='pagination']/button")
    for btn in button:
        if btn.text == "Next":
            btn.click()
print('End of pages. All the data collected \n\n\n')

recruiter_naukri=pd.DataFrame(list(zip(recruiter_name,recruiter_desig,recruiter_comp,recruiter_loc,req_skills)),columns=['Name','Designation','Company','Location','Hire_for_Skills'])
recruiter_naukri

End of pages. All the data collected

,Name,Designation,Company,Location,Hire_for_Skills
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
...,...,...,...,...,...
5868,Vikas Tiwari,Tester,Accenture,Mumbai,"Epicor Pos, C++, Sql, Plsql, Sap, Pos"
5869,Faraaz Kharwa,Senior Manager,Netscribes (India) Pvt Ltd,Kolkata,Not Specified
5870,Ravi Manda,Sr. Talent Acquisition Recruiter,New York Global Consultants Pvt. Ltd.,Hyderabad / Secunderabad,Not Specified
5871,Ashish Dave,Sales Head-APAC,Cloudiway,Delhi,Not Specified
5872,Praveen Kumar,Lead Executive,Aricent Technologies (H) Limited,Bengaluru / Bangalore,Not Specified

In [33]:
# Exporting to a CSV file
recruiter_naukri.to_csv('recruiter_naukri.csv')

# Q8

In [38]:
# Creating a URL variable to store website URL
url_guradian=('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

# Establishing Connection with the website
driver.get(url_guradian)
time.sleep(3)

# Creating empty lists to store data
book_rank=[]
book_title=[]
book_author=[]
book_sold=[]
book_publisher=[]
book_genre=[]

for book in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr"):
    
    # Extracting Book Rank
    book_rank.append(book.find_element_by_xpath("td[1]").text)
    
    # Extracting Book Title
    book_title.append(book.find_element_by_xpath("td[2]").text)
    
    # Extracting Book Author
    book_author.append(book.find_element_by_xpath("td[3]").text)
    
    # Extracting No of Copies sold
    book_sold.append(book.find_element_by_xpath("td[4]").text)
    
    # Extracting Book Publisher
    book_publisher.append(book.find_element_by_xpath("td[5]").text)
    
    # Extracting Book Genre
    book_genre.append(book.find_element_by_xpath("td[6]").text)

# Creating a dataframe
book_guardian=pd.DataFrame(list(zip(book_rank,book_title,book_author,book_sold,book_publisher,book_genre)),columns=['Rank','Title','Author','Volumes_Sold','Publisher','Genre'])
book_guardian

,Rank,Title,Author,Volumes_Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [39]:
# Exporting to a CSv file
book_guardian.to_csv('book_guardian.csv')

# Q9

In [61]:
# Creating a URL variable to store website URL
url_imdb=('https://www.imdb.com/list/ls095964455/')

# Establishing Connection with the website
driver.get(url_imdb)
time.sleep(3)

# Creating empty lists to store data
show_rank=[]
show_title=[]
year_span=[]
show_genre=[]
runtime=[]
ratings=[]
votes=[]

# Creating a for loop to iterate through the DIVs which contains data
for show in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]"):
    
    # Extracting show rank
    show_rank.append(show.find_element_by_xpath("h3/span[1]").text.replace('.',''))
    
    # Extracting show title
    show_title.append(show.find_element_by_xpath("h3/a").text)
    
    # Extracting Year Span
    year_span.append(show.find_element_by_xpath("h3/span[2]").text)
    
    # Extracting Show Genre
    show_genre.append(show.find_element_by_xpath("p[1]/span[5]").text)
    
    # Extracting Show Runtime
    runtime.append(show.find_element_by_xpath("p[1]/span[3]").text)
    
    # Extracting Show Ratings
    ratings.append(show.find_element_by_xpath("div/div[1]/span[2]").text)
    
    # Extracting Vote count
    votes.append(show.find_element_by_xpath("p[4]/span[2]").text)

# Creating dataframe
series_imdb=pd.DataFrame(list(zip(show_rank,show_title,year_span,show_genre,runtime,ratings,votes)),columns=['Rank','Title','Span','Genre','Runtime','Imdb_Rating','Votes'])
series_imdb

,Rank,Title,Span,Genre,Runtime,Imdb_Rating,Votes
0,1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,824,224"
1,2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"864,483"
2,3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,801"
3,4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,794"
4,5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,165"
...,...,...,...,...,...,...,...
95,96,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,588"
96,97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,095"
97,98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,877"
98,99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,905"
99,100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,564"

In [62]:
# Exporting to a CSV file
series_imdb.to_csv('series_imdb.csv')

# Q10

In [14]:
# creating a URL variable to store website URL
url_ics=('https://archive.ics.uci.edu/')

# Establishing Connection with the website
driver.get(url_ics)
time.sleep(3)

# Finding and clicking View All Dataset option 
driver.find_element_by_xpath("//span[@class='whitetext'][2]/a").click()

# Creating empty list
dataset_name=[]
dataset_type=[]
dataset_task=[]
dataset_attrib_types=[]
dataset_instances=[]
dataset_atrribute=[]
dataset_year=[]

# Creating a For loop to iterate through the tags and extract required data
for repo in driver.find_elements_by_xpath("//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr")[1:]:
    
    # Extracting Dataset name
    dataset_name.append(repo.find_element_by_xpath("td[1]/table/tbody/tr/td[2]/p/b/a").text)
    
    # Extracting Data type
    ds_type=repo.find_element_by_xpath("td[2]/p").text
    if ds_type != ' ':
        dataset_type.append(ds_type)
    else:
        dataset_type.append('-')
    
    # Extracting Dataset task
    ds_task=repo.find_element_by_xpath("td[3]/p").text
    if ds_task != ' ':
        dataset_task.append(ds_task)
    else:
        dataset_task.append('-')
    
    # Extracting Dataset atrribute types
    ds_attrib_type=repo.find_element_by_xpath("td[4]/p").text
    if ds_attrib_type != ' ':
        dataset_attrib_types.append(ds_attrib_type)
    else:
        dataset_attrib_types.append('-')
    
    # Extracting Dataset instances   
    ds_inst=repo.find_element_by_xpath("td[5]/p").text
    if ds_inst != ' ':
        dataset_instances.append(ds_inst)
    else:
        dataset_instances.append('-')
    
    # Extracting Dataset Attributes
    ds_attrib=repo.find_element_by_xpath("td[6]/p").text
    if ds_attrib != ' ':
        dataset_atrribute.append(ds_attrib)
    else:
        dataset_atrribute.append('-')
    
    # Extracting Year    
    ds_year=repo.find_element_by_xpath("td[7]/p").text
    if ds_year != ' ':
        dataset_year.append(ds_year)
    else:
        dataset_year.append('-')

# Creating Dataframe
datasets_uci=pd.DataFrame(list(zip(dataset_name,dataset_type,dataset_task,dataset_attrib_types,dataset_instances,dataset_atrribute,dataset_year)),columns=['Name','Data_Types','Task','Atrribute_Types','Instances','Atrributes','Year'])
datasets_uci

,Name,Data_Types,Task,Atrribute_Types,Instances,Atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,-,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [15]:
# Exporting to a CSV file
datasets_uci.to_csv('datasets_uci.csv')