In [1]:
# Importing required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,ElementClickInterceptedException,StaleElementReferenceException,ElementNotInteractableException
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.action_chains import ActionChains

In [49]:
# Creating a webdriver instance for firefox browser
driver=webdriver.Firefox(r'C:\Users\_Trojan_\Downloads\geckodriver-v0.29.1-win64')

Cars24

In [4]:
# Storing URL in a variable
url_c24=('https://www.cars24.com/')

In [5]:
# Creating a function to extract data from Cars24.com
def cars24_list(url):
    
    # Establishing Connection with the website
    driver.get(url_c24)
    time.sleep(2)

    # Closing the location bar is appeared
    try:
        driver.find_element_by_xpath("//div[@class='float-right TBxAN']").click()
    except NoSuchElementException:
        pass
    
    # Clicking on Buy used car tab which is the 3rd option on the header
    driver.find_element_by_xpath("//ul[@class='float-right _1yq3e']/li[3]").click()
    time.sleep(2)
    
    # Creating a list to store urls
    urls=[]
    
    # Creating a for loop to iterate through cities to fetch the data
    for i in range(1,11):
        
        # Clicking on the location dropdown
        driver.find_element_by_xpath("//div[@class='col-md-3 _2VocW']/p/span").click() 
        time.sleep(2)
        
        # Clicking one city at a time
        driver.find_element_by_xpath(f"//ul[@class='_16Bvy']/li[{i}]").click()
        time.sleep(2)
        
        
        # Defining a function to iterate through bodytype
        for fltr in range(1,6):
            
            # Clicking More Filter button
            driver.find_element_by_xpath("//ul[@class='_1bWR_']/li[6]/div").click()
            time.sleep(1)
            
            # Selecting a bodytype
            driver.find_element_by_xpath(f"//div[@class='dJM1f']/div[3]/ul/li[{fltr}]").click()
            time.sleep(1)
            
            # Cliking SHOW CARS button
            driver.find_element_by_xpath("//button[@class='btn _3BmFU AgO6q']").click()
            time.sleep(2)
            
            # Scrolling to get more cars in view
            for x in range(0,12):
                driver.execute_script('window.scrollBy(0,1000)')
                time.sleep(1)
            
            # Collecting link for each bodytype for each city
            for link in driver.find_elements_by_xpath("//div[@class='col-4']/a"):
                urls.append(link.get_attribute('href'))
            
            # Clicking Clear All Filter button to clear filters  
            driver.find_element_by_xpath("//span[@class='_1QeRC']").click()
            time.sleep(1)
    
    # Creating Empty list to store data
    
    cars24_name=[]
    cars24_brand=[]
    cars24_variant=[]
    cars24_transmission=[]
    cars24_year=[]
    cars24_kms=[]
    cars24_fuel=[]
    cars24_owner=[]
    cars24_location=[]
    cars24_price=[]
    
    # Collecting data for each url
    
    for url in urls:
        driver.get(url)
        time.sleep(3)

        try:

            cars24_year.append(driver.find_element_by_xpath("//div[@class='_10kZS']/h2").text.split()[0])

        except NoSuchElementException:

            cars24_year.append('-')

        try:
            cars24_brand.append(driver.find_element_by_xpath("//div[@class='_10kZS']/h2").text.split()[1])

        except NoSuchElementException:
            
            cars24_brand.append('-')

        try:
            name = driver.find_element_by_xpath("//div[@class='_10kZS']/h2").text.split()[2:4]
            cars24_name.append(' '.join(name))

        except NoSuchElementException:
            
            cars24_name.append('-')

        try:
            cars24_variant.append(driver.find_element_by_xpath("//div[@class='_10kZS']/h2/span").text.split()[0])

        except NoSuchElementException:
            
            cars24_variant.append('-')

        try:
            cars24_transmission.append(driver.find_element_by_xpath("//div[@class='_10kZS']/h2/span/small").text)            

        except NoSuchElementException:
            
            cars24_transmission.append('-')

        try:
            cars24_kms.append(driver.find_element_by_xpath("//ul[@class='_2tp8h']/li[1]").text.replace('km','').replace(',',''))

        except NoSuchElementException:
            
            cars24_kms.append('-')

        try:
            cars24_fuel.append(driver.find_element_by_xpath("//ul[@class='_2tp8h']/li[3]").text)

        except NoSuchElementException:
            
            cars24_fuel.append('-')

        try:
            cars24_owner.append(driver.find_element_by_xpath("//ul[@class='_2tp8h']/li[5]").text)

        except NoSuchElementException:
            
            cars24_owner.append('-')

        try:
            cars24_location.append(driver.find_element_by_xpath("//p[@class='_2NHUv']/span").text)

        except NoSuchElementException:
            
            cars24_location.append('-')

        try:
            cars24_price.append(driver.find_element_by_xpath("//div[@class='text-right g-hPT']/strong").text.replace('â‚¹','').replace(',',''))

        except NoSuchElementException:
            
            cars24_price.append('-')

In [ ]:
# Calling function with URL variable
cars24_list(url_c24)

In [14]:
# Checking length of URLS list
len(urls)

2776

In [34]:
cars24_data=pd.DataFrame(list(zip(cars24_brand, cars24_name, cars24_variant, cars24_transmission, cars24_year, cars24_kms, cars24_fuel, cars24_owner, cars24_location, cars24_price)),columns=['Brand','Model','Variant','Transmission_Type','Year_of_Make','Kms_Driven','Fuel_Type','Owner','Location','Price'])
cars24_data

,Brand,Model,Variant,Transmission_Type,Year_of_Make,Kms_Driven,Fuel_Type,Owner,Location,Price
0,Maruti,S PRESSO,VXI,NaN,2020,179,Petrol,1st Owner,AHMEDABAD,434399
1,Maruti,Baleno DELTA,DELTA,MANUAL,2020,3920,Petrol,1st Owner,AHMEDABAD,652799
2,Maruti,S PRESSO,VXI,NaN,2020,3176,Petrol,1st Owner,AHMEDABAD,402199
3,Hyundai,Grand i10,MAGNA,MANUAL,2014,15033,Petrol,1st Owner,AHMEDABAD,372099
4,Maruti,Alto 800,VXI,MANUAL,2014,12535,Petrol,1st Owner,AHMEDABAD,298899
...,...,...,...,...,...,...,...,...,...,...
2715,Mercedes,Benz GLA,200,AUTOMATIC,2015,59604,Diesel,1st Owner,AHMEDABAD,1650099
2716,Jeep,Compass 2.0,2.0,MANUAL,2018,56887,Diesel,1st Owner,AHMEDABAD,1335899
2717,Landrover,Range Rover,DYNAMIC,AUTOMATIC,2015,129752,Diesel,2nd Owner,AHMEDABAD,1765499
2718,Jeep,Compass 2.0,2.0,MANUAL,2017,99803,Diesel,2nd Owner,AHMEDABAD,1255499
2719,Mahindra,XUV500 W10,W10,MANUAL,2018,69977,Diesel,1st Owner,AHMEDABAD,1166199

Cardekho

In [ ]:
# Storing URL in a variable
url_cardekho=('https://www.cardekho.com/')

In [ ]:
# Creating a function to extract data from Cardekho.com
def cardekho_list(url):
    
    # Establishing Connection with the website
    driver.get(url)
    time.sleep(2)
    
    # Creating an empty list to store URLs 
    urls=[]
    
    # Creating a for loop to iterate through the list of cities
    for x in range(1,13):
        try:
            # Hovering over the Used Car option and hovering cars in your city and then selecting first city
            
            driver.find_element_by_xpath("//nav[@class='gsc_col-sm-12 gsc_col-md-12']/ul/li[2]").click()
            time.sleep(1)
            
            #Clicking on the location input field
            
            driver.find_element_by_xpath("//div[@class='inputfield']").click()
            time.sleep(1)
            
            # Selecting city one by one
    
            driver.find_element_by_xpath(f"//ul[@class='listing gsc_col-md-12 gsc_col-lg-12']/li[{x}]").click()
            time.sleep(2)
            
            # Closing location bar if available
            driver.find_element_by_xpath("//div[@class='gsc_modal gsc_modalWindow gsc_container show LocationEditScreen gsc_thin_scroll']/div[1]").click()
        except NoSuchElementException:
            pass
    
        # Creating a for loop to iterate through bodytype for each city
    
        for i in range(1,7):
        
            driver.find_element_by_xpath(f"//div[@class='outBox bodyTypefilter bodytypeby']/ul/li[{i}]").click()
            time.sleep(3)
    
            for x in range(0,5):
                driver.execute_script('window.scrollBy(0,1000)')
                time.sleep(1)
            
            # Collecting URLs for the cars
            for link in driver.find_elements_by_xpath("//div[@class='holder']/div[1]/div[1]/a"):
                urls.append(link.get_attribute('href'))
        
            time.sleep(3)
        
            driver.find_element_by_xpath(f"//div[@class='outBox bodyTypefilter bodytypeby']/ul/li[{i}]").click()
            time.sleep(3)
    
    # Creating empty lists to store data 
    cardekho_name=[]
    cardekho_brand=[]
    cardekho_variant=[]
    cardekho_transmission=[]
    cardekho_year=[]
    cardekho_kms=[]
    cardekho_fuel=[]
    cardekho_owner=[]
    cardekho_location=[]
    cardekho_price=[]
    
    # Creating a for loop to iterate through URLs to collect cars data
    for url in urls:
        driver.get(url)
        time.sleep(3)
        try:
            try:
                cardekho_year.append(driver.find_element_by_xpath("//div[@class='paddingBorder clearfix']/div[1]/h1").text.split()[0])

                cardekho_brand.append(driver.find_element_by_xpath("//div[@class='paddingBorder clearfix']/div[1]/h1").text.split()[1])

                name=driver.find_element_by_xpath("//div[@class='paddingBorder clearfix']/div[1]/h1").text.split()[2:4]
                cardekho_name.append(' '.join(name))

                cardekho_variant.append(driver.find_element_by_xpath("//div[@class='paddingBorder clearfix']/div[1]/div[1]").text)

                cardekho_price.append(driver.find_element_by_xpath("//div[@class='priceSection']/span[2]").text.replace(',',''))

                cardekho_transmission.append(driver.find_element_by_xpath("//ul[@class='gsc_row detailsList'][1]/li[8]/div/div[2]").text)

                cardekho_kms.append(driver.find_element_by_xpath("//ul[@class='gsc_row detailsList'][1]/li[4]/div/div[2]").text.replace(',','').replace('Kms',''))

                cardekho_fuel.append(driver.find_element_by_xpath("//ul[@class='gsc_row detailsList'][1]/li[3]/div/div[2]").text)

                cardekho_owner.append(driver.find_element_by_xpath("//ul[@class='gsc_row detailsList'][1]/li[6]/div/div[2]").text)

                driver.execute_script('window.scrollTo(0,document.body.scrollHeight)')
                time.sleep(5)

                cardekho_location.append(driver.find_element_by_xpath("//div[@class='recomendedcar-Sec']/h2").text.split()[-1])

            except NoSuchElementException:

                cardekho_year.append(driver.find_element_by_xpath("//div[@class='vdp-head']/h1[1]").text)

                cardekho_brand.append(driver.find_element_by_xpath("//div[@class='vdp-head']/h1[2]").text.split()[0])

                name=driver.find_element_by_xpath("//div[@class='vdp-head']/h1[2]").text.split()

                if len(name)<4:
                    cardekho_name.append(' '.join(name[1]))
                    cardekho_variant.append(' '.join(name[2:4]))
                else:
                    cardekho_name.append(' '.join(name[1:3]))
                    cardekho_variant.append(' '.join(name[3:5]))

                price= (int(float(driver.find_element_by_xpath("//span[@class='pricewrapper posR']/span").text.replace(' Lakh','').replace('*','').replace(',',''))*100000))

                if price>20000000:
                    cardekho_price.append(int(price/100000))
                else:
                    cardekho_price.append(price)                      

                cardekho_transmission.append(driver.find_element_by_xpath("//div[@class='GenDetailBox']/ul/li[6]/div/div").text)

                cardekho_kms.append(driver.find_element_by_xpath("//div[@class='GenDetailBox']/ul/li[3]/div/div").text.replace(',','').replace(' kms',''))

                cardekho_fuel.append(driver.find_element_by_xpath("//div[@class='GenDetailBox']/ul/li[5]/div/div").text)

                cardekho_owner.append(driver.find_element_by_xpath("//div[@class='GenDetailBox']/ul/li[4]/div/div").text)

                cardekho_location.append(driver.find_element_by_xpath("//div[@class='gsc_container gsc_container_hold breadcrumb ']/span[4]/a/span").text.split()[-1])

        except (NoSuchElementException, ValueError):
            pass

In [ ]:
# Calling function with URL variable
cardekho_list(url_cardekho)

In [25]:
# Checking length of URLS list
len(urls)

3611

In [32]:
cardekho_data=pd.DataFrame(list(zip(cardekho_brand, cardekho_name, cardekho_variant, cardekho_transmission, cardekho_year, cardekho_kms, cardekho_fuel, cardekho_owner, cardekho_location, cardekho_price)),columns=['Brand','Model','Variant','Transmission_Type','Year_of_Make','Kms_Driven','Fuel_Type','Owner','Location','Price'])
cardekho_data

,Brand,Model,Variant,Transmission_Type,Year_of_Make,Kms_Driven,Fuel_Type,Owner,Location,Price
0,Maruti,Wagon R,VXI,Manual,2016,81674,Petrol,1st Owner,Ahmedabad,360000
1,Maruti,Baleno,Alpha,Manual,2017,49072,Petrol,1st Owner,Ahmedabad,566000
2,Maruti,S-Presso,VXI,Manual,2019,24230,Petrol,1st Owner,Ahmedabad,422000
3,Maruti,Baleno,1.2 Delta,Manual,2016,51069,Petrol,1st Owner,Ahmedabad,482500
4,Maruti,Wagon R,VXI,Manual,2014,42381,Petrol,1st Owner,Ahmedabad,328500
...,...,...,...,...,...,...,...,...,...,...
3124,Maruti,Eeco CNG,5 Seater,Automatic,2018,25877,Petrol,1st Owner,Pune,843500
3125,Maruti,Ciaz,1.4 AT Alpha,Automatic,2017,51126,Diesel,First Owner,Pune,994999
3126,Hyundai,Elantra CRDi,SX AT,Automatic,2016,31246,Petrol,First Owner,Pune,735000
3127,Skoda,Rapid 1.6,MPI AT,Manual,2016,81000,Petrol,First Owner,Pune,595000
3128,Maruti,E r t i g a,ZXI,Manual,2013,83000,Diesel,First Owner,Pune,615000

Carwale

In [ ]:
# Storing URL in a variable
carwale_url=('https://www.carwale.com/')

In [ ]:
# Creating a function to extract data from Carwale.com
def carwale_list(url):
    
    # Establishing connection with the website
    driver.get(url)
    time.sleep(3)
    
    # Hover over 'Used Car' tab and click 'find used cars' option
    actions.move_to_element(driver.find_element_by_xpath("//nav[@class='o-fzokld o-fzoker o-cpnuEd o-bUVylL o-cqgkZn o-eoatGj o-bTDyCI']/ul/li[2]")).perform()
    time.sleep(1)
    driver.find_element_by_xpath("//ul[@class='o-cpnuEd o-XylGE _1fftdA']/a[1]").click()
    time.sleep(3)
    
    
    # Closing locaion bar if visible
    try:
        driver.find_element_by_id('closeLocIcon').click()
    except NoSuchElementException:
        pass
    
    # Clicking on used button through breadcrumb
    driver.find_element_by_xpath("//ul[@id='breadCrumb']/li[2]/a").click()
    time.sleep(3)
    
    # Scrolling to view cities list
    for i in range(0,2):
        driver.execute_script('window.scrollBy(0,1000)')
        time.sleep(1)
    
    # Storing City page links in a list
    city_links=[]

    for l in driver.find_elements_by_xpath("//div[@class='text-center']/a"):
        city_links.append(l.get_attribute('href'))
    
    # Defining a list of bodytype
    body=['Sedan','Hatchback','SUV/MUV','Minivan/Van','Coupe']
    
    # Create an empty list to store URLs
    urls=[]
    
    # Iterating through a list of cities
    for city in city_links:
        driver.get(city)
        time.sleep(3)

        # Iterating through each bodytype
        for bdy in body:
            
            # Move to the top of page
            driver.find_element_by_tag_name('body').send_keys(Keys.HOME)
            time.sleep(2)
            
            # Resetting Filters
            driver.find_element_by_xpath("//p[@id='resetFilters']").click()
            time.sleep(2)
            
            # Scrolling
            for i in range(0,2):
                driver.execute_script('window.scrollBy(0,500)')
                time.sleep(1)
            
            # Clicking on bodytype dropdown
            driver.find_element_by_id('4').click()
            
            # Storing all the list items in the dropdown
            bodytype=driver.find_elements_by_xpath("//div[@id='4']/div/ul/li")
            
            # Iterating through bodytype list to match the text in the body list 
            for bt in bodytype:

                if bt.find_element_by_xpath("span").text == bdy:
                    bt.click()
                    time.sleep(3)
                    
                    # Scrolling
                    for i in range(0,9):
                        driver.execute_script('window.scrollBy(0,1000)')
                        time.sleep(1)
                    
                    # Collecting URLs
                    for link in driver.find_elements_by_xpath("//ul[@id='listing1']/li/div/div[3]/div[1]/div[1]/a"):
                        urls.append(link.get_attribute('href'))

                    time.sleep(2)
    
    # Creating empty list to store data
    carwale_name=[]
    carwale_brand=[]
    carwale_variant=[]
    carwale_transmission=[]
    carwale_year=[]
    carwale_kms=[]
    carwale_fuel=[]
    carwale_owner=[]
    carwale_location=[]
    carwale_price=[]
    
    # Creating for loop to iterate through the URL list and extracting data
    for url in urls:
        driver.get(url)
        time.sleep(3)

        try:
            carwale_year.append(driver.find_element_by_xpath("//h1[@id='content-title']").text.split()[0])
        except NoSuchElementException:
            carwale_year.append('-')

        try:
            carwale_brand.append(driver.find_element_by_xpath("//div[@class='breadcrumb margin-bottom15']/ul/li[4]/a/span").text)
        except NoSuchElementException:
            carwale_brand.append('-')


        try:
            carwale_name.append(driver.find_element_by_xpath("//div[@class='breadcrumb margin-bottom15']/ul/li[5]/a/span").text)
            
        except NoSuchElementException:
            carwale_name.append('-')

        try:
            carwale_variant.append(driver.find_element_by_xpath("//div[@class='breadcrumb margin-bottom15']/ul/li[6]/span[2]").text)
        except NoSuchElementException:
            carwale_variant.append('-')

        try:
            carwale_transmission.append(driver.find_element_by_xpath("//div[@class='overview-list padding-bottom10']/ul/li[5]/div[2]").text)
        except NoSuchElementException:
            carwale_transmission.append('-')

        try:
            carwale_kms.append(driver.find_element_by_xpath("//div[@class='overview-list padding-bottom10']/ul/li[3]/div[2]").text.replace(' km','').replace(',',''))
        except NoSuchElementException:
            carwale_kms.append('-')

        try:
            carwale_fuel.append(driver.find_element_by_xpath("//div[@class='overview-list padding-bottom10']/ul/li[4]/div[2]").text)
        except NoSuchElementException:
            carwale_fuel.append('-')

        try:
            carwale_owner.append(driver.find_element_by_xpath("//div[@class='overview-list padding-bottom10']/ul/li[9]/div[2]").text)
        except NoSuchElementException:
            carwale_owner.append('-')

        try:
            carwale_location.append(driver.find_element_by_xpath("//div[@class='breadcrumb margin-bottom15']/ul/li[3]/a/span").text)
        except NoSuchElementException:
            carwale_location.append('-')

        try:
            price= int(float(driver.find_element_by_xpath("//div[@class='overview-list padding-bottom10']/ul/li[1]/div[2]").text.replace(' Lakh','').replace('â‚¹ ',''))*100000)

            if price>10000000:
                carwale_price.append(int(price/100000))
            else:
                carwale_price.append(int(price))
        except (NoSuchElementException,ValueError):
            carwale_price.append('-')

In [ ]:
# Calling function with url
carwale_list(carwale_url)

In [27]:
len(urls)

1095

In [43]:
carwale_data=pd.DataFrame(list(zip(carwale_brand, carwale_name, carwale_variant, carwale_transmission, carwale_year, carwale_kms, carwale_fuel, carwale_owner, carwale_location, carwale_price)),columns=['Brand','Model','Variant','Transmission_Type','Year_of_Make','Kms_Driven','Fuel_Type','Owner','Location','Price'])
carwale_data

,Brand,Model,Variant,Transmission_Type,Year_of_Make,Kms_Driven,Fuel_Type,Owner,Location,Price
0,Maruti,Suzuki,VXi,Manual,2018,18993,Petrol,First,Ghaziabad,625000
1,Mercedes-Benz,C-ClassC 220,C 220 CDI Style,Automatic,2018,29000,Diesel,First,Delhi,3200000
2,Mercedes-Benz,S-ClassS,S 350D [2018-2020],Automatic,2018,22654,Diesel,First,Delhi,9200000
3,BMW,5-Series520d,520d Sedan,Automatic,2012,59000,Diesel,Second,Delhi,1325000
4,Maruti,Suzuki,VDI,Manual,2014,48816,Diesel,First,Noida,450000
...,...,...,...,...,...,...,...,...,...,...
1088,BMW,M4Coupe,Coupe,Automatic,2015,27000,Petrol,Second,Delhi,5975000
1089,Bentley,Continental,Coupe,Automatic,2010,20000,Petrol,Second,Delhi,7975000
1090,Mercedes-Benz,GLC Coupe43,43 AMG [2017-2019],Automatic,2018,14000,Petrol,Second,Delhi,6175000
1091,Audi,TT45,45 TFSI,Automatic,2016,35000,Petrol,Second,Delhi,3600000
1092,BMW,6-Series650i,650i Coupe,Automatic,2008,56500,Petrol + Petrol,First,Chandigarh,2350000

# Finalizing Dataset

In [44]:
frames=[cars24_data,cardekho_data,carwale_data]

In [45]:
used_car_dataset=pd.concat(frames,ignore_index=True)
used_car_dataset

,Brand,Model,Variant,Transmission_Type,Year_of_Make,Kms_Driven,Fuel_Type,Owner,Location,Price
0,Maruti,S PRESSO,VXI,NaN,2020,179,Petrol,1st Owner,AHMEDABAD,434399
1,Maruti,Baleno DELTA,DELTA,MANUAL,2020,3920,Petrol,1st Owner,AHMEDABAD,652799
2,Maruti,S PRESSO,VXI,NaN,2020,3176,Petrol,1st Owner,AHMEDABAD,402199
3,Hyundai,Grand i10,MAGNA,MANUAL,2014,15033,Petrol,1st Owner,AHMEDABAD,372099
4,Maruti,Alto 800,VXI,MANUAL,2014,12535,Petrol,1st Owner,AHMEDABAD,298899
...,...,...,...,...,...,...,...,...,...,...
6937,BMW,M4Coupe,Coupe,Automatic,2015,27000,Petrol,Second,Delhi,5975000
6938,Bentley,Continental,Coupe,Automatic,2010,20000,Petrol,Second,Delhi,7975000
6939,Mercedes-Benz,GLC Coupe43,43 AMG [2017-2019],Automatic,2018,14000,Petrol,Second,Delhi,6175000
6940,Audi,TT45,45 TFSI,Automatic,2016,35000,Petrol,Second,Delhi,3600000
6941,BMW,6-Series650i,650i Coupe,Automatic,2008,56500,Petrol + Petrol,First,Chandigarh,2350000

In [ ]:
used_car_dataset.to_csv('used_car_dataset.csv')